body {
  font: Arial;
}
html {
  background-image: url("/images/rps-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
}
.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.title {
  color: black;
  font-size: 50px;
  font-weight: bold;
  text-align: center;
}
.img-icon {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  display: block;
  border-radius: 50%;
}
.button-style {
  border-radius: 50%;
  border: 3px solid black;
  margin: 100px auto;
  margin: 50px;
}
.score-style,
.result-style,
.moves-style {
  text-align: center;
  font-size: 20px;
}
.reset_button-style,
.autoplay-button {
  border: none;
  background-color: black;
  border-radius: 20px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  padding: 20px;
  cursor: pointer;
  margin-right: 20px;
}
.reset_button-style:hover,
.autoplay-button:hover {
  border: 3px solid black;
  background-color: white;
  font-size: 20px;
  color: black;
  transition: none;
}

.button-holder,
.align-reset_button,
.autoplay-button {
  display: flex;
  justify-content: center;
  text-align: center;
}
@media only screen and (max-width: 740px) {
  .container {
    width: 100vw;
    align-items: center;
  }
  .title {
    font-size: 30px;
  }
  .button-style {
    margin: 20px;
  }
  .img-icon {
    width: 75px;
    height: auto;
    border-radius: 50%;
  }
}
